.titulo {
    width: 70%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FF2171;
}
.titulo h1{
    text-align: left;
    color: #FFE4A7;
}

#texto {
    background-color: #FF90BB;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    }

#texto p{
    font-size: 32px;
    color: #FFE4A7;
}