.titulo {
    width: 70%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FF2171;
}

.titulo h1{
    text-align: left;
    color: #FFE4A7;
}

.text-end{
    width: 100%;
    background-color: #FF2171;
    
}

.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; columns: 4;
    width: 25%;
    height: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    background-color: #FF90BB;
    text-decoration: #FFE4A7;
     margin-bottom: 150px;
}
.card-body img {
    width: 50%;
    height: 50%;
}

 button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; columns: 2;
    background-color: #FFE4A7;
    border-color: #FF2171;
    border-radius: 10%;
    color: #FF2171;
}

tbody{
    border: 0 none;
}
