<div class="container">
    <picture>
        <img src="./us.png">
    </picture>
    <form>
        <div>
            <label for="correo">Correo electronico</label>
            <input type="email" id="correo" formControlName="correo" class="form-control">
            <div *ngIf="">
                Ingresa un correo válido.
            </div>
        </div>
        <div>
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" formControlName="contraseña"  class="form-control">
        </div>
    </form>
    <div>
        <button>Iniciar Sesion</button>
    </div>
    <div class="enlaces">
    <a href="">¿Olvidastes tu contraseña?</a>
    <a href="">¿El email no coincide?</a>
    </div>
</div>