body {
    background-color: #FFFAD7;
    margin: 0;
    margin-bottom: 40px;
}

html{
    min-height: 100%;
    position: relative;
}
/*If screen size is LESS than 1200px wide*/
@media (max-width:1200px){
   
}

/*If screen size is MORE than 800px wide*/

@media (min-width:800px){
    /*¡Style!*/
}

/*If screen size is BEETWEN 320px and 768px wide AND the orientation is in landscape mode*/

@media (min-width: 320px) and (max-width:768PX) and (orientation:landscape){
    /*¡Style!*/
    
}


/*  Modo oscuro aplicado a todo el body */
.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

/*  Estilo del nav en modo oscuro */
.dark-mode nav,
.dark-mode footer,
.dark-mode .nav1,
.dark-mode .titulo {
  background-color: #333333 !important;
}
.dark-mode .nav1{
background-color: #333333 !important;
}
/*  Estilo de los enlaces del nav en modo oscuro */
.dark-mode .nav-link{
  color: #f0f0f0 !important;
}

/*  Estilo del boton que alterna entre modo claro y oscuro */
.dark-mode .btn-outline-light,
.dark-mode button {
  border-color: #f0f0f0;
  color: #f0f0f0;
}

/* Aaplicamos el color claro a los títulos y textos en toda la web */
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode a,
.dark-mode .titulo  {
  color: #f0f0f0 !important;
}